<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<div>
    <div class="starter-template">
        <h1 th:text="${msg.title}"></h1>
        <p class="bg-primary" th:text="${msg.content}"></p>
        <div>
            <p class="bg-info" th:text="${msg.extraInfo}"></p>
        </div>
        <!-- 这里ADMIN角色不能加ROLE前缀，框架会自动加，但是数据库中sys_role表需要加（例如ROLE_ADMIN) -->
        <div sec:authorize="hasRole('ADMIN')">
            <p class="bg-info">无更多显示信息</p>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="注销"/>
        </form>
    </div>
</div>
</body>
</html>